Get help on ruby on rails tutorial at the  
%a{:href => "http://www.railstutorial.org/#help"} Rails Tutorial help section
To get help on this sample app, see the
%a{:href => "http://www.railstutorial.org/book"} Ruby on Rails Tutorial 
book