%footer.footer
  %small
    Twitter by
    %a{:href => "https://www.linkedin.com/pub/rujuta-phalak/28/ab0/919"} Rujuta Phalak
  %nav
    %ul
      %li= link_to "About",   about_path
      %li= link_to "Contact", contact_path
      